@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #1a129f;
  --text: #42495b;
  --secondary: #6156f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
  color: var(--text);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
